{% load static %}
{% load common_tags %}
<link rel="stylesheet" href="{% static location_view.svg_style_name.css_static_file_name %}">
<div id="hi-location-view-main" class="hi-location-view">
  <svg id="{{ location_view.html_id }}"
       class="hi-location-view-svg"
       location-view-id="{{  location_view.id }}"
       xmlns="http://www.w3.org/2000/svg"
       viewBox="{{ svg_view_box_override|default:location_view.svg_view_box }}"
       extents="{{ location_view.location.svg_view_box }}"
       width="100%" height="100%" preserveAspectRatio="xMidYMid meet"
       style="transform-origin: 50% 50%; transform: rotate( {{ svg_rotate_override|default:location_view.svg_rotate }}deg );"
       transform="rotate({{ svg_rotate_override|default:location_view.svg_rotate }})">
    <defs>
      {% include location_view.svg_style_name.svg_defs_template_name %}
    </defs>
    <g class="hi-location-view-base">
      {% include_media_template location_view.location.svg_fragment_filename %}
    </g>
    <g class="hi-location-view-entities">
      {% for svg_path_item in location_view_data.svg_path_items %}
      {% include "location/panes/svg_path_item.html" with svg_path_item=svg_path_item %}
      {% endfor %}
      
      {% for svg_icon_item in location_view_data.svg_icon_items %}
      {% include "location/panes/svg_icon_item.html" with svg_icon_item=svg_icon_item %}
      {% endfor %}
    </g>
  </svg>
</div>
