{% extends "attribute/components/edit_content_body.html" %}
{% load icons %}
{% load integration_tags %}
{% comment %}
Location V2 Content Body Fragment
Extends the generic attribute edit content body with location-specific field layout.
{% endcomment %}

{% block additional_actions %}
{% has_external_referencers as has_referencers %}
{% if has_referencers %}
<a href="{% url 'integrations_external_reference_picker' %}?item_type=LOCATION&item_id={{ attr_item_context.owner.id }}"
   data-async="modal"
   class="btn btn-sm btn-outline-primary mb-0">
  {% icon "link" size="sm" css_class="hi-icon-left" %}Link Content
</a>
{% endif %}
{% endblock %}

{% block tab1_nav_active %}{% if data_priority.is_internal %}active{% endif %}{% endblock %}
{% block tab1_pane_active %}{% if data_priority.is_internal %}show active{% endif %}{% endblock %}

{% block tab3_nav %}
{% if external_references %}
<li class="nav-item">
  <a class="nav-link {% if data_priority.is_reference %}active{% endif %}"
     data-toggle="tab"
     href="#hi-attr-tab3-{{ attr_item_context.owner_id }}"
     role="tab">
    {% icon "link" css_class="hi-icon-left" %}Linked Content
  </a>
</li>
{% endif %}
{% endblock %}

{% block tab3_pane %}
{% if external_references %}
<div class="tab-pane {% if data_priority.is_reference %}show active{% endif %}"
     id="hi-attr-tab3-{{ attr_item_context.owner_id }}"
     role="tabpanel">
  {% include "integrations/panes/external_reference_grid.html" with external_references=external_references owner_type='location' owner_id=attr_item_context.owner.id %}
</div>
{% endif %}
{% endblock %}

{% block owner_fields %}
<!-- Location-specific fields: Only name field for modal editing -->
<div class="row">
  <div class="col-md-12">
    <div class="form-group mb-0">
      <small class="text-muted">Name</small>
      <input type="text" 
             id="{{ owner_form.name.id_for_label }}"
             name="{{ owner_form.name.html_name }}"
             value="{{ owner_form.name.value|default:'' }}"
             class="form-control form-control-sm"
             {% if owner_form.name.field.required %}required{% endif %}>
      {% if owner_form.name.errors %}
        <div class="invalid-feedback d-block">
          {{ owner_form.name.errors }}
        </div>
      {% endif %}
    </div>
  </div>
</div>
{% endblock %}
