{% load static %}
{% load units %}
{% load tz %}
{% timezone USER_TIMEZONE %}

<div class="table-responsive">
  <table class="table">
    <thead>
      <th>Date</th>
      <th>Sunrise</th>
      <th>Sunset</th>
      <th>Moon</th>
    </thead>
    <tbody>
      {% for interval_astronomical in daily_astronomical_data.data_list %}
      <tr>
        <td>{{ interval_astronomical.interval.start |localtime|date:"n/j" }}
        </td>
        <td>
          {% if interval_astronomical.data.sunrise %}
          {{ interval_astronomical.data.sunrise.value }}
          {% else %}
          --
          {% endif %}     
        </td>
        <td>
          {% if interval_astronomical.data.sunset %}
          {{ interval_astronomical.data.sunset.value }}
          {% else %}
          --
          {% endif %}     
        </td>
        <td>
          {% if interval_astronomical.data.moon_illumination %}
          {% with interval_astronomical.data.moon_phase as moon_phase %}
          <img height="32" src="{% static moon_phase.icon_filename %}"
               alt="{{ moon_phase.label }}" />
          {% endwith %}
          {{  interval_astronomical.data.moon_illumination.quantity }}
          {% else %}
          --
          {% endif %}     
        </td>
      </tr>
      {% empty %}
      <tr><td colspan="4"><div class="alert alert-info">No data.</div></td></tr>
      {% endfor %}
    </tbody>
  </table>
</div>
{% endtimezone%}
