{% load icons %}
<div id="{{ DIVID.WEATHER_OVERVIEW }}" class="mx-2">
  <a class="clickable-card" href="{% url 'weather_current_conditions_details' %}" data-async="modal">
    {% include "weather/panes/conditions.html" with conditions=weather_overview_data.current_conditions_data weather_stats=weather_overview_data.todays_weather_stats %}
  </a>
  <div class="">
    <a class="clickable-card" href="{% url 'weather_todays_astronomical_details' %}" data-async="modal">
      {% include "weather/panes/astronomical_brief.html" with astronomical_data=weather_overview_data.todays_astronomical_data %}
    </a>
  </div>
  <div class="d-flex justify-content-around my-2">
    <div><a role="button" href="{% url 'weather_forecast' %}"
            class="btn btn-sm btn-outline-primary" data-async="modal">
      {% icon "forecast" size="sm" css_class="hi-icon-left" %}FORECAST
    </a></div>
    <div><a role="button" href="{% url 'weather_history' %}"
    class="btn btn-sm btn-outline-primary" data-async="modal">
      {% icon "history" size="sm" css_class="hi-icon-left" %}HISTORY
    </a></div>
  </div>
</div>
