{% extends "modals/action_3.html" %}
{% load icons %}

{% block title_text %}
{{ entity_state.entity.name }}
{% endblock %}

{% block body %}
<h6 class="mb-3">{{ entity_state.short_name }}</h6>

{% include "entity/panes/entity_state_history_table.html" with history_rows=history_rows annotate_sources=annotate_sources %}

{% if older_cursor or newer_cursor %}
<div class="d-flex justify-content-between mt-3">
  {% if newer_cursor %}
    <a class="btn btn-sm btn-outline-primary"
       href="{% url 'entity_state_history' entity_state_id=entity_state.id %}"
       data-async="modal">
      {% icon "chevron-double-left" size="sm" css_class="hi-icon-left" %}Newest
    </a>
  {% else %}
    <span></span>
  {% endif %}

  {% if older_cursor %}
    <a class="btn btn-sm btn-outline-primary"
       href="{% url 'entity_state_history' entity_state_id=entity_state.id %}?before={{ older_cursor|urlencode }}"
       data-async="modal">
      Older{% icon "chevron-right" size="sm" css_class="hi-icon-right" %}
    </a>
  {% else %}
    <span></span>
  {% endif %}
</div>
{% endif %}
{% endblock %}

{% block action_left %}
<a class="btn btn-primary"
   href="{% url 'entity_edit' entity_id=entity_state.entity.id %}"
   data-async="modal">
  {% icon "edit" css_class="hi-icon-left" %}EDIT
</a>
{% endblock %}

{% block action_center %}
<a class="btn btn-primary"
   href="{% url 'entity_status' entity_id=entity_state.entity.id %}"
   data-async="modal">
  {% icon "info-circle" css_class="hi-icon-left" %}STATUS
</a>
{% endblock %}

{% block action_right %}
<a id="hi-modal-done" role="button" {% if autofocus %}autofocus="autofocus"{% endif %}
   class="btn btn-primary" href="#" data-dismiss="modal">DONE</a>
{% endblock %}
