{% extends "edit/panes/sidebar_tabbed.html" %}
{% load icons %}

{% block view_tab_active %} active{% endblock %}

{% block tab_content %}
<div id="{{ DIVID.COLLECTION_EDIT_PANE }}">
  {% include "collection/edit/panes/collection_properties_edit.html" %}
</div>

{% if collection_position_form %}
<hr />
<div class="h5">Position</div>
<div id="{{ DIVID.COLLECTION_POSITION_EDIT_PANE }}">
  {% include "collection/edit/panes/collection_position_edit.html" %}
</div>
{% endif %}

<hr class="my-4" />
<div class="my-2">
  <a href="{% url 'collection_edit_collection_delete' collection_id=collection.id %}"
     class="btn btn-outline-danger btn-sm btn-block btn-control" role="button" data-async="true">
    DELETE COLLECTION
  </a>
</div>
{% endblock %}
