{% extends "modals/action_with_cancel.html" %}
{% load icons %}

{% block preamble %}
<form action="{% url 'entity_edit_entity_add' %}" method="post"
      class="form" data-async="modal">
  {% csrf_token %}
{% endblock %}

{% block title_text %}
New Item
{% endblock %}

{% block body %}
<div>
  {% include "entity/edit/panes/entity_add_form.html" %}
</div>
{% endblock %}

{% block action_right %}
<button id="hi-add-entity-button" type="submit" class="btn btn-primary"
        name="action" value="add">
  {% icon "plus" css_class="hi-icon-left" %}ADD
</button>
{% endblock %}

{% block postamble %}
</form>
{% endblock %}
