{% extends "modals/action_with_cancel.html" %}
{% load icons %}

{% block header_class %}bg-secondary{% endblock %}

{% block title_text %}
Delete View?
{% endblock %}

{% block body %}
<p>
  Please confirm that you want to delete the view:
  <ul>
    <span class="h4 text-primary">{{ location_view.name }}</span>
  </ul>
</p>
{% if is_last_view %}
<p>
  This is the only view for this location. Deleting it will reset it to a
  new empty <b>{{ default_view_name }}</b> view; its current contents and
  layout will be cleared.
</p>
{% else %}
<p>
  This action cannot be undone.
</p>
{% endif %}
{% endblock %}

{% block action_right %}
<form action="{% url 'location_edit_location_view_delete' location_view_id=location_view.id %}"
      method="post" class="form"
      data-async="true" >
  {% csrf_token %}
  <button id="hi-delete-location-view-button" type="submit" class="btn btn-danger"
          name="action" value="confirm">
    {% icon "delete" css_class="hi-icon-left" %}DELETE
  </button>
</form>
{% endblock %}
