{% extends "modals/action_with_cancel.html" %}
{% load icons %}

{% block preamble %}
<form action="{% url 'location_svg_edit_exit' location_id=location.id %}"
      method="post" enctype="multipart/form-data"
      class="form" data-async="modal">
  {% csrf_token %}
{% endblock %}

{% block title_text %}
Save Space Background?
{% endblock %}

{% block body %}
<div>
  <p>Save your changes to the background image for <strong>{{ location.name }}</strong>?</p>
  <p>This will replace the current background with your edited version.</p>
</div>
{% endblock %}

{% block action_right %}
<button id="hi-location-svg-edit-exit-button" type="submit" class="btn btn-primary">
  {% icon "save" css_class="hi-icon-left" %}SAVE CHANGES
</button>
{% endblock %}

{% block postamble %}
</form>
{% endblock %}
