{% extends "modals/action_ok.html" %}
{% load icons static %}

{% block modal_dialog_class %}hi-modal-dialog-700{% endblock %}

{% block title_text %}
All Connectors
{% endblock %}

{% block body %}

{% for integration_data in integration_data_list %}
<div class="d-flex justify-content-between {% if not forloop.first %}border-top{% endif %} py-2 my-1">
  <div class="col-6 d-flex align-items-center">
    <img src="{% static integration_data.integration_metadata.logo_static_path %}"
         alt="{{ integration_data.integration_metadata.label }}"
         class="img-fluid mr-2 hi-integration-logo">
    {{ integration_data.integration_metadata.label }}
  </div>
  <div class="col-3">
    {% if not integration_data.integration.is_enabled %}
    <span class="text-muted">
      {% icon "disabled" css_class="hi-icon-left" %}Not configured
    </span>
    {% elif integration_data.integration.is_paused %}
    <span class="font-weight-bold text-secondary">
      {% icon "pause" css_class="hi-icon-left" %}Paused
    </span>
    {% else %}
    <span class="font-weight-bold text-primary">
      {% icon "check-circle" css_class="hi-icon-left" %}Running
    </span>
    {% endif %}
  </div>

  <div class="col-3">
    {% if integration_data.integration.is_enabled %}
    <a href="{% url 'integrations_connect_disable' integration_id=integration_data.integration.integration_id %}"
       role="button" class="btn btn-danger btn-control" data-async="modal">
      {% icon "delete" css_class="hi-icon-left" %}DISABLE
    </a>
    {% else %}
    <a href="{% url 'integrations_connect_configure' integration_id=integration_data.integration.integration_id %}"
       class="btn btn-primary btn-control" role="button" data-async="modal">
      {% icon "settings" css_class="hi-icon-left" %}CONFIGURE
    </a>
    {% endif %}
  </div>
</div>
{% empty %}
<div class="alert alert-warning"> No connectors found.</div>
{% endfor %}
{% endblock %}
