{% load static %}
<div id="{% block modal_dialog_id %}{% endblock %}"
     class="modal-dialog hi-modal {% block modal_dialog_class %}{% endblock %}"
     style="{% block modal_dialog_style %}{% endblock %}">
  <div class="modal-content">
    <div class="modal-title">
      <div class="row {% block header_class %}bg-primary{% endblock %} m-0 py-2">
        <div class="col-md-2 col-3 align-self-center text-center modal-title-image">
          {% block title_image %}
          <img class="img-fluid"
               src="{% static 'img/hi-inverse-icon-196x196.png' %}"
               alt="HI Logo" \>
          {% endblock %}
        </div>
        <div class="col-md-9 col-8 align-self-center h4 m-0 px-1 modal-title">
          {% block title_text %}
          {% endblock %}
        </div>
        <div class="col-md-1 col-1 align-self-center m-0 pl-1 text-right">
          {% block dismiss_button %}
          {% load icons %}
          <button id="modal_dismiss_x"
                  type="button" class=" w-100 text-center text-white close"
                  data-dismiss="modal" aria-label="Close modal">
            {% icon "close" %}
          </button>
          {% endblock %}
        </div>
      </div>
    </div>
    {% block preamble %}
    {% endblock %}
    <div class="modal-body {% block body_class %}{% endblock %}">
      {% block subheader %}
      {% endblock %}
      {% block body %}
      {% endblock %}
    </div>
    <div class="modal-footer d-flex justify-content-around {% block footer_class %}{% endblock %}">
      {% block footer %}
      {% endblock %}
    </div>  
    {% block after_footer %}
    {% endblock %}
    {% block postamble %}
    {% endblock %}
  </div>
</div>
