{% extends "modals/action_1.html" %}
{% load icons %}

{% block preamble %}
<form action="{% url 'console_set_lock_password' %}" method="post" class="form" data-async="true">
  {% csrf_token %}
{% endblock %}

  {% block title_text %}
  Set Console Lock Password
  {% endblock %}

  {% block body %}
  <p>
    Please create a password to unlock the console.
  </p>
  {% include "console/panes/lock_password_form.html" %}
  {% endblock %}
  
  {% block action_center %}
  <button id="hi-console-set-lock-password-button" type="submit" class="btn btn-lg btn-primary"
        name="action" value="set">
    {% icon "unlock" css_class="hi-icon-left" %}SET PASSWORD
  </button>
  {% endblock %}

{% block postamble %}
</form>
{% endblock %}
