{% extends "attribute/components/edit_content_body.html" %}
{% load icons %}
{% load attribute_extras %}

{% block basic_info %}{% endblock %}

{% block additional_actions %}
{% if show_modal_cancel %}
<a id="hi-modal-cancel" role="button" {% if autofocus %}autofocus="autofocus"{% endif %}
   class="btn btn-outline-tertiary" href="#" data-dismiss="modal">
  {% icon "cancel" size="sm" css_class="hi-icon-left" %}CANCEL
</a>
{% endif %}

<!-- Integration Health Status Display -->
{% if health_status %}
<div class="ml-3">
  <a href="{% url 'integrations_health_status' integration_id=integration_data.integration_id %}"
     class="btn btn-link p-0 d-flex align-items-center text-decoration-none"
     data-async="modal"
     title="View health status details">
    {% include "system/panes/health_status_badge.html" with health_status=health_status %}
  </a>
</div>
{% endif %}
{% endblock %}

{% block file_upload_button %}{% endblock %}

{% block add_attribute_button %}{% endblock %}

{% block files_section %}{% endblock %}
