{% load static %}
{% load icons %}
<div class="p-1">
  <div class="d-flex justify-content-between hi-button-bar">
    {% if request.view_parameters.is_editing %}
    <div class="hi-button-bar-fixed px-1">
      <a href="{% url 'location_edit_location_view_add' %}"
         class="btn btn-add btn-control" role="button"
         data-async="modal" >
        {% icon "plus" size="sm" css_class="hi-icon-left" %}ADD VIEW
      </a>
    </div>
    {% endif %}
    {% include "location/panes/location_view_buttons.html" %}
    <div class="hi-button-bar-center">
      <img src="{% static 'img/hi-logo-149x64.png' %}" alt="Home Information Logo">
    </div>
    <div class="d-flex justify-content-end hi-button-bar-fixed">
      {% if request.view_parameters.location %}
      <div class="px-1">
        {% if request.view_parameters.is_editing %}
        <a class="btn btn-primary btn-control" role="button"
           href="{% url 'location_edit_mode' location_id=request.view_parameters.location.id %}"
           data-async="true" >
          {% icon "edit" size="sm" css_class="" %}
          {{ request.view_parameters.location.name|truncatechars:18 }}
        </a>
        {% else %}
        <a class="btn btn-primary btn-control" role="button"
           href="{% url 'location_edit_location_edit' location_id=request.view_parameters.location.id %}"
             data-async="true" >
          {% icon "info-circle" size="sm" css_class="hi-icon-left" %}{{ request.view_parameters.location.name|truncatechars:18 }}
        </a>
        {% endif %}
      </div>
      {% endif %}
    
      {% include "location/panes/location_dropdown.html" %}

      <div class="px-1">
        {% if request.view_parameters.is_editing %}
        <a href="{% url 'edit_end' %}"
           class="btn btn-tertiary btn-control" role="button" >
          {% icon "close" size="sm" css_class="hi-icon-left" %}EXIT EDIT
        </a>
        {% else %}
        <a href="{% url 'edit_start' %}"
           class="btn btn-tertiary btn-control" role="button" >
          {% icon "edit" size="sm" css_class="hi-icon-left" %}EDIT
        </a>
        {% endif %}
      </div>
    </div>
  </div>
</div>
