{% load icons %}
<div id="hi-audio-state-toggle">
  <button id="hi-audio-state-enabled"
          role="button"
          style="display: none;"
          class="btn btn-primary btn-control" 
          onclick="Hi.audio.handleAudioButtonClick();"  
          title="Sounds enabled. Tap to Disable">
    {% icon "audio-enabled" css_class="hi-icon-left" %}Sounds: On
  </button>
  <button id="hi-audio-state-disabled" 
          role="button"
          style="display: none;"
          class="btn btn-secondary btn-control"
          onclick="Hi.audio.handleAudioButtonClick();"  
          title="Sounds disabled. Tap to enable">
    {% icon "audio-disabled" css_class="hi-icon-left" %}Sounds: Off
  </button>
  <button id="hi-audio-state-blocked" 
          role="button"
          style="display: none;"
          class="btn btn-danger btn-control"
          onclick="Hi.audio.handleAudioButtonClick();"  
          title="Browser blocked audio. Click for help">
    {% icon "exclamation-circle" css_class="hi-icon-left" %}Sounds: Blocked
  </button>
</div>
