{% load common_tags %}
{% load icons %}
{% load sense_tags %}
<div class="row">
  <div class="col-6 align-self-center">
    <div class="h6 text-center">
      {{ sensor_response.sensor.short_name }}
    </div>
    <div class="d-flex justify-content-around mt-2">
      {% if sensor_response.has_event_video_clip %}
      <div>
        <a href="{{ sensor_response.video_browse_url }}" 
           class="btn btn-sm btn-outline-primary"
           data-async="true">
          {% icon "video" size="sm" %} Video
        </a>
      </div>
      {% endif %}
      {% if sensor_response.sensor_history_id and sensor_response.has_details %}
      <div>
        <a href="{{ sensor_response.details_url }}" 
           class="btn btn-sm btn-outline-primary"
           data-async="true">
          {% icon "info-circle" size="sm" %} Details
        </a>
      </div>
      {% endif %}
      <div>
        <a href="{{ sensor_response.entity_state_history_url }}"
           class="btn btn-sm btn-outline-primary"
           data-async="true">
          {% icon "history" size="sm" %} History
        </a>
      </div>
    </div>    
  </div>
  <div class="col-6 align-self-center">
    <a href="{{ sensor_response.click_url }}" title="See details" data-async="true">
      <div class="hi-status-display text-center px-2"
           data-state-id="{{ sensor_response.entity_state.id }}"
           data-status data-display-text
           status="{{ sensor_response.value }}">{% render_state_value_text sensor_response.entity_state sensor_response.value %}</div>
    </a>
  </div>
</div>
