{% load icons %}
{% for hidden in location_item_position_form.hidden_fields %}
{{ hidden }}
{% endfor %}

{% if location_item_position_form.non_field_errors %}
<div class="sidebar-form-errors">
  {% for err in location_item_position_form.non_field_errors %}
  <p class="sidebar-form-error">ERROR: {{ err }}</p>
  {% endfor %}
</div>
{% endif %}

<div class="sidebar-form-field">
  <label for="{{ location_item_position_form.svg_x.id_for_label }}" class="sidebar-form-label">{{ location_item_position_form.svg_x.label }}</label>
  <input type="number" step="any" id="{{ location_item_position_form.svg_x.id_for_label }}" name="{{ location_item_position_form.svg_x.name }}" value="{{ location_item_position_form.svg_x.value }}" class="sidebar-form-input">
  {% if location_item_position_form.svg_x.errors %}
    <div class="sidebar-form-error">{{ location_item_position_form.svg_x.errors }}</div>
  {% endif %}
</div>

<div class="sidebar-form-field">
  <label for="{{ location_item_position_form.svg_y.id_for_label }}" class="sidebar-form-label">{{ location_item_position_form.svg_y.label }}</label>
  <input type="number" step="any" id="{{ location_item_position_form.svg_y.id_for_label }}" name="{{ location_item_position_form.svg_y.name }}" value="{{ location_item_position_form.svg_y.value }}" class="sidebar-form-input">
  {% if location_item_position_form.svg_y.errors %}
    <div class="sidebar-form-error">{{ location_item_position_form.svg_y.errors }}</div>
  {% endif %}
</div>

<div class="sidebar-form-field">
  <label for="{{ location_item_position_form.svg_scale.id_for_label }}" class="sidebar-form-label">{{ location_item_position_form.svg_scale.label }}</label>
  <input type="number" step="any" id="{{ location_item_position_form.svg_scale.id_for_label }}" name="{{ location_item_position_form.svg_scale.name }}" value="{{ location_item_position_form.svg_scale.value }}" class="sidebar-form-input">
  {% if location_item_position_form.svg_scale.errors %}
    <div class="sidebar-form-error">{{ location_item_position_form.svg_scale.errors }}</div>
  {% endif %}
</div>

<div class="sidebar-form-field">
  <label for="{{ location_item_position_form.svg_rotate.id_for_label }}" class="sidebar-form-label">{{ location_item_position_form.svg_rotate.label }}</label>
  <input type="number" step="any" id="{{ location_item_position_form.svg_rotate.id_for_label }}" name="{{ location_item_position_form.svg_rotate.name }}" value="{{ location_item_position_form.svg_rotate.value }}" class="sidebar-form-input">
  {% if location_item_position_form.svg_rotate.errors %}
    <div class="sidebar-form-error">{{ location_item_position_form.svg_rotate.errors }}</div>
  {% endif %}
</div>

<div class="sidebar-form-actions">
  <button id="hi-add-entity-edit-button" type="submit" class="btn btn-primary btn-block"
          name="action" value="update">
    {% icon "save" css_class="hi-icon-left" %}UPDATE
  </button>
</div>
