{% load icons %}
<form action="{% url 'location_view_edit_mode' location_view_id=location_view.id %}"
      method="post"
      class="form" data-async="true"
      oninput="Hi.updateFormDirtyState(this)">
  {% csrf_token %}

  <div>
    {% include "location/edit/panes/location_view_edit_mode_form.html" %}
  </div>
  <div class="sidebar-form-actions">
    <button id="hi-add-location-view-button" type="submit" class="btn btn-primary btn-block"
            name="action" value="update" disabled>
      {% icon "save" css_class="hi-icon-left" %}UPDATE
    </button>
  </div>
</form>

