{% load icons %}

<form action="{% url 'location_properties_edit' location_id=location.id %}"
      method="post"
      class="form" data-async="true"
      oninput="Hi.updateFormDirtyState(this)">
  {% csrf_token %}
  <div>
    {% include "location/edit/panes/location_edit_form.html" %}
  </div>

  <div class="sidebar-form-actions">
    <button id="hi-location-properties-edit-button" type="submit" class="btn btn-primary btn-block"
        name="action" value="update" disabled>
      {% icon "save" size="sm" css_class="hi-icon-left" %}UPDATE
    </button>
  </div>
</form>
