{% load common_tags %}
<div id="hi-sim-state-{{ simulator.id }}-{{ sim_state.sim_entity_id }}-{{ sim_state.sim_state_id }}" class="row">
  <div class="col-4">
    {{ label|default:sim_state.name }}
  </div>
  <div class="col-8">
    <form action="{% url 'simulator_entity_state_set' simulator_id=simulator.id sim_entity_id=sim_state.sim_entity_id sim_state_id=sim_state.sim_state_id %}"
          method="POST" class="form"
          data-async="#hi-sim-state-{{ simulator.id }}-{{ sim_state.sim_entity_id }}-{{ sim_state.sim_state_id }}"
          data-mode="replace">
      {% csrf_token %}
      {% include_with_fallback sim_state.sim_state_type.template_name "services/panes/sim_control_default.html" %}
    </form>
  </div>
</div>
